:root {
    --color-body: #d6c9b1;
    --color-body-dark: #a39784;
    --color-primary: #4a6741;
    --color-primary-dark: #374f2f;
    --color-secondary: #bc6c25;
    --color-secondary-light: #dda15e;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

/* Main font */
body, input, label, select, textarea, button {
    font-family: "Montserrat Alternates", system-ui;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 clamp(20px, 5vw, 50px);
    width: clamp(300px, 800px, 100vw);
    margin-bottom: 50px;
}

nav, footer {
    display: flex;
    width: 100%;
    background-color: var(--color-body);
    margin: 15px;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav > h1 {
    margin: 0;
}

footer {
    justify-content: center;
    margin-top: auto;
}

footer i {
    margin: 10px;
    color: var(--color-body-dark);
}

footer i:hover {
    color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

li {
    margin: 10px 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    width: max-content;
}

a:hover {
    text-decoration: underline;
}

button {
    color: #ffffff;
    background-color: #4a6741;
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}

.card {
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

input, textarea, select {
    width: 100%;
    border: solid 1px var(--color-body-dark);
    border-radius: 5px;
    padding: 10px;
}

/*
    Bootstrap mock classes
*/
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 10px;
    margin: 10px 0;
}

.col {
    display: grid;
    grid-auto-flow: row;
    margin: 10px 0;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.primary-color {
    color: var(--color-primary);
}

/*
 * Effects
 */
 .grow {
    transition: all .2s ease-in;
}

.grow:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 5px 20px -5px var(--color-body-dark);
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
}

.hero__img {
    max-width: 50%;
}

.hero__txt {
    margin-left: 20px;
}

.hero__txt > h1 {
    margin: 0;
}

.hero__txt-name {
    color: var(--color-primary);
}

/* Work XP Section */
.work-xp {
    display: flex;
    margin-top: 20px;
}

.work-xp h2, .work-xp h3 {
    margin-bottom: 5px;
}

/* .work-xp__experience {
    background-color: var(--color-secondary-light);
}

.work-xp__skills {
    background-color: var(--color-secondary);
} */

.work-xp__hard-soft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.work-xp__meta {
    text-align: right;
}

/* .work-xp__languages {
    background-color: var(--color-primary);
}

.work-xp__frameworks {
    background-color: var(--color-primary-dark);
} */