<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>notemily</title>
        <meta name="description" content="I provide high-quality web development freelancing services">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/1e614a3120.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include header.html %}
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>