<form id="contact" action="https://public.herotofu.com/v1/5db8df50-744f-11ef-b2f9-6b1c6cf0ee54" accept-charset="UTF-8" method="post">
    <h2>Let's talk</h2>
    <br>
    <div class="row">
        <div class="w-100" id="Name__div">
            <input type="text" name="Name" id="Name" placeholder="Name"/>
        </div>
    </div>
    <div class="row">
        <div id="Email__div">
            <input type="email" name="Email" id="Email" required="required" placeholder="Email *"/>
        </div>
        <div id="Company_Name__div">
            <input type="text" name="Company Name" id="Company_Name" placeholder="Company Name" pattern="^[A-Za-z]+$"/>
        </div>
    </div>
    <div class="row">
        <div class="col w-100" id="Reason__div">
            <label for="Reason">Reason *</label>
            <select name="Reason" id="Reason" required="required"><option value="">Choose</option>
                <option value="I want to work together">I want to work together</option>
                <option value="I would like to introduce myself">I would like to introduce myself</option>
                <option value="I just want to get in touch">I just want to get in touch</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col w-100" id="Message__div">
            <label title="required" for="Message">Message *</label>
            <textarea name="Message" id="Message" required="required"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" data-disable-with="Send">Send</button>
    </div>
    <div style="text-indent:-99999px; white-space:nowrap; overflow:hidden; position:absolute;" aria-hidden="true">
        <input type="text" name="_gotcha" tabindex="-1" autocomplete="off" />
    </div>
</form>